body{
	background-color: darkgreen;
}
.carta{
	position: absolute;
	background-color:  rgb(180,180,180);
	border: 2px solid black;
	border-radius: 10px;
	width: 180px;
	height: 260px;
}

.numeropalo{
	font-size: 30px;
	margin: 5px;
	background-color: rgba(255,255,255,0);
}
.numeropaloinverso{
	position: absolute;
	font-size: 30px;
	margin: 5px;
	transform:rotate(180deg);
	top: 180px;
	left: 150px;
	background-color: rgba(255,255,255,0);
}
.figura{
	font-size: 60px;
	position: absolute;
	background-color: rgba(255,255,255,0);
}
@keyframes animacion_picas4{
	0%{
		top: 0px;
		left: 0px;
		transform: rotate(0deg);
	}
	100%{
		top: 110px;
		left: 530px;
		transform: rotate(-5deg);
	}
}
#picas4{
	animation-name: animacion_picas4;
	animation-duration: 4s;
	animation-delay: 2s;
	z-index: 2;
	top: 110px;
	left: 530px;
	transform: rotate(-5deg);
}

#picas4_1{
	left: 40px;
	bottom: 160px;
}
#picas4_2{
	left: 105px;
	bottom: 160px;
}
#picas4_3{
	left: 40px;
	bottom: 50px;
	transform:rotate(180deg);
}
#picas4_4{
	left: 105px;
	bottom: 50px;
	transform:rotate(180deg);
}
@keyframes animacion_treboles7{
	0%{
		top: 0px;
		left: 0px;
		transform: rotate(0deg);
	}
	100%{
		top: 150px;
		left: 585px;
		transform: rotate(25deg);
	}
}
#treboles7{
	animation-name: animacion_treboles7;
	animation-duration: 4s;
	animation-delay: 4s;
	z-index: 4;
	top: 150px;
	left: 585px;
	transform: rotate(25deg);
}

#treboles7_1{
	left: 40px;
	bottom: 170px;
}
#treboles7_2{
	left: 105px;
	bottom: 170px;
}
#treboles7_3{
	left: 40px;
	bottom: 90px;
}
#treboles7_4{
	left: 105px;
	bottom: 90px;
}
#treboles7_5{
	left: 75px;
	bottom: 130px;
}
#treboles7_6{
	left: 40px;
	bottom: 20px;
	transform:rotate(180deg);
}
#treboles7_7{
	left: 105px;
	bottom: 20px;
	transform:rotate(180deg);
}
@keyframes animacion_corazones6{
	0%{
		top: 0px;
		left: 0px;
		transform: rotate(0deg);
	}
	100%{
		top: 125px;
		left: 560px;
		transform: rotate(10deg);
	}
}
#corazones6{
	animation-name: animacion_corazones6;
	animation-duration: 4s;
	animation-delay: 3s;
	color:  red;
	z-index: 3;
	top: 125px;
	left: 560px;
	transform: rotate(10deg);
}

#corazones6_1{
	left: 40px;
	bottom: 170px;
}
#corazones6_2{
	left: 105px;
	bottom: 170px;
}
#corazones6_3{
	left: 40px;
	bottom: 100px;
}
#corazones6_4{
	left: 105px;
	bottom: 100px;
}
#corazones6_5{
	left: 40px;
	bottom: 20px;
	transform:rotate(180deg);
}
#corazones6_6{
	left: 105px;
	bottom: 20px;
	transform:rotate(180deg);
}
@keyframes animacion_diamantesas{
	0%{
		top: 0px;
		left: 0px;
		transform: rotate(0deg);
	}
	100%{
		top: 100px;
		left: 500px;
		transform: rotate(-20deg);
	}
}
#diamantesas{
	animation-name: animacion_diamantesas;
	animation-duration: 4s;
	animation-delay: 1s;
	color: red;
	z-index: 1;
	top: 100px;
	left: 500px;
	transform: rotate(-20deg);
}

#diamantesas_1{
	font-size: 130px;
	left: 55px;
	bottom: 70px;
}

