body{
	background-color: lightgoldenrodyellow;
}
p{
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	width: 100px;
	height:200px;
	position: absolute;
	left: 100px;
	padding:10px;
}
#A{
	transform: rotate(-40deg);
	z-index: 1;
	left: 120px;
}
#K{
	transform: rotate(-30deg);
	color: red;
	z-index: 2;
	left: 140px;
}
#Q{
	transform: rotate(-20deg);
	z-index: 3;
	left: 160px;
}
#J{
	transform: rotate(-10deg);
	color: red;
	z-index:  4;
	left: 180px;

}
#diez{
	z-index:  5;
	left: 200px;
	top: 15px;
}