div{
	width: 300px;
	height: 100px;
	background-color: lightblue;
	border-width: 2px 0;
	border-style: solid;
	border-color: darkblue;
}
input{
	padding-top: 5px;
	padding-bottom: 5px;
}
input:focus{
	background-color:  yellow;
}
label{
	padding-top: 6px;
	padding-bottom: 6px;
}
